
.search-container {
    text-align: center;
    margin-top: 50px;
 }
 
 #searchInput {
    padding: 10px;
    width: 300px;
    font-size: 16px;
 }
 
 #searchButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: steelblue;
 }

 
 #searchResults {
    margin-top: 24px;
    width: 50vw;
 }

#classesBox {
    border: 2px solid black;
    margin: 20px 50px;
    padding: 10px;
    justify-content: center;
    background: linear-gradient(to right, steelblue, white);
    height: 65vh;
    display: flex;
}

 .hero{
   width: 100%;
   min-height:100vh;
   background: #eceaff;
   color:#807c7c;
 }

 nav{
   background:#27222b;
   width:100%;
   padding: 10px 10%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   color: #eceaff;
 }

 .logo{
   width: 120px;
 }

.searchResultsText {
    margin: 20px;
}

 .user-pic{
   cursor:pointer;
   margin-left:30;
   background-color:steelblue;
   width: 120px;
 }

 .sub-menu-wrap{
   position: absolute;
   top: 100%;
   right:10%;
   width:320px;
   max-height: 0px;
   overflow: hidden;
   transition: max-height 0.5s;
 }

 .sub-menu-wrap.open-menu{
   max-height: 400px;
 }

 .sub-menu{
   background: #fff;
   padding: 20px;
   margin:15px;
   color:#525252;
 }

 .user-info{
   display: flex;
   align-items: center;
 }
 .user-info h3{
   font-weight: 500;
 }

 .user-info img{
   width: 60px;
   border-radius: 50%;
   margin-right: 15px;
 }

 .sub-menu hr{
   border: 0;
   height: 1px;
   width:100%;
   background: #ccc;
   margin: 15px 0 10px;
 }

 .sub-menu-link{
   display: flex;
   align-items: center;
   text-decoration: none;
   color:#525252;
   margin: 12px 0; 
 }

 .sub-menu-link p{
   width: 100%;
 }

 .sub-menu-link span{
   font-size: 22px;
   transition: transform 0.5s;
 }

 .sub-menu-link:hover span{
   transform: translate(5px);
 }

 .sub-menu-link:hover p{
   font-weight:600;
 }

.card {
    color: #2a4e6c;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    width: 30%; 
    height: 20vh; 
}


