/*These styles are for the login page and account creation page
The styles are shared between the two 
*/

*{
    margin:0;
    padding: 0;
    font-family:Trebuchet MS, sans-serif;
    box-sizing: border-box;
}

.Login{
    width:100%;
    height: 100vh;
    background-image: url(loginBG.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}


.Login .form-box{
    width:90%;
    max-width: 450px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border: 2px solid black;
}

.Login .form-box h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: steelblue;
    position: relative;

}

.Login .form-box h2{
    font-size: 20px;
    margin-bottom: 20px;
    color: steelblue;
    position: relative;

}

.Login .form-box .info{
    background:#eaeaea ;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.Login .form-box .info input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

/*Button styles */
.Login .form-box .buttons{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.Login .form-box .buttons button{
    width:140px;
    background: steelblue;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border:0;
    outline: 0;
    cursor: pointer;
}

.homepageButton {
    margin-top: 10px;
    width:200px;
    background: steelblue;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border:0;
    outline: 0;
    cursor: pointer;
}

/*Send email style */
input[type="submit"] {
    background-color: steelblue; 
    color: white; 
    padding: 10px 20px; 
    height: 40px;
    border-radius: 20px;
    border:0;
    outline: 0;
    cursor: pointer; 
  }

  input[type="submit"]:disabled{
    background-color: grey; 
    color: white; 
    padding: 10px 20px; 
    height: 40px;
    border-radius: 20px;
    border:0;
    outline: 0;
    cursor: not-allowed; 
  }

.toggle-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.toggle-buttons button {
    background: #007bff;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.toggle-buttons button.active {
    background: steelblue;
}

 